# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
Thumbs.db
.vscode/

# Ancient files
code.py

# Codes future upgrades

app\src\Layer_application\EulerExtractor.py
app\src\Layer_application\EulerExtractorImage.py
app\src\Layer_application\EulerExtractorObject.py